:root {
  --electromagnetic: #2f3640;
  --blue-nights: #353b48;
  --nanohanacha-gold: #e1b12c;
  --rise-n-shine: #fbc531;
  --hint-of-pensive: #dcdde1;
  --lynx-white: #f5f6fa;
  --text-rest: #24303f;
}
